.cadastroContainer{
  width: 100vw;
  height: 100vh;
  background-image: url('/public/Imagens/imagebackgr.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titbanCad a{
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin: 45% 0 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 150;
  color: var(--vermelho-site);
  text-decoration: none;
  margin-bottom: 2rem;
  display: flex;

}


.inputsBanCad{
  background: var(--branco-opaco);
  padding: 3rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.inputsBanCad input{
  padding: 0.75rem;
  border: none;
  background: none;
  border-bottom: 1px solid var(--cor-primaria);
  font-size: 0.9rem;
  outline: none;
  transition: border 0.3s;
}

.inputsBanCad input:focus {
  border-color: var(--detalhe);
}

.buttonCadastro {
  background: var(--branco-opaco);
  border: none;
  margin: 5% 0 0 0;
  padding: 0.9rem;
  border-radius: 80px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.buttonCadastro:hover{
  background: var(--vermelho-site);
  color: var(--branco);
}

.clickableCad{
  color: var(--vermelho-site);
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s;
}

.clickableCad:hover{
  color: var(--cor-primaria);
}

.forgotPassCad{
  font-family: var(--fonte-paragrafos);
  font-size: 15px;
  color: var(--cor-primaria);
  padding: 5% 0 0 0;
  margin: 0;
}

.newClientCad{
  font-family: var(--fonte-paragrafos);
  font-size: 15px;
  color: var(--cor-primaria);
  padding: 5% 0 0 0;
  margin: 0;
}