
  .backBan {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/Imagens/imagebackgr.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 
  
  .titBan a {
    font-size: 2rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin: 45% 0 0 0;
    font-family: "Roboto", sans-serif;
    font-weight: 150;
    color: var(--vermelho-site);
    text-decoration: none;
    margin-bottom: 2rem;
    display: flex;
  }
  
  .inputsBan {
    background: var(--branco-opaco);
    padding: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  

  .inputsBan input {
    padding: 0.75rem;
    border: none;
    background: none;
    border-bottom: 1px solid var(--cor-primaria);
    font-size: 0.9rem;
    outline: none;
    transition: border 0.3s;
  }
  
  .inputsBan input:focus {
    border-color: var(--detalhe);
  }
  
  .buttonBan {
    background: var(--branco-opaco);
    border: none;
    margin: 15% 0 0 0;
    padding: 0.9rem;
    border-radius: 80px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .buttonBan:hover {
    background: var(--vermelho-site);
    color: var(--branco);
  }

  .errorMsg {
    color: var(--erro);
    margin-top: 10px;
    font-size: 14px;
  }
  .clickable{
    color: var(--vermelho-site);
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.2s;
  }

  .clickable:hover{
    color: var(--cor-primaria);
  }

  .forgotPass{
    font-family: var(--fonte-paragrafos);
    font-size: 15px;
    color: var(--cor-primaria);
    padding: 5% 0 0 0;
    margin: 0;
  }

  .newClient{
    font-family: var(--fonte-paragrafos);
    font-size: 15px;
    color: var(--cor-primaria);
    padding: 5% 0 0 0;
    margin: 0;
  }
  