
.backBan {
    min-height: 100vh;
    background: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .titBan a {
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-fonte-titulos);
    text-decoration: none;
    margin-bottom: 2rem;
    display: block;
  }
  
  .inputsBan {
    background: var(--branco);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px var(--preto);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .inputsBan label {
    font-size: 0.95rem;
    color: var(--cor-primaria);
  }
  
  .inputsBan input {
    padding: 0.75rem;
    border: 1px solid var(--cor-primaria);
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s;
  }
  
  .inputsBan input:focus {
    border-color: var(--detalhe);
  }
  
  .buttonBan {
    background: var(--branco);
    color: var();
    border: none;
    padding: 0.8rem;
    border-radius: 8px;
    border-color: var(--detalhe);
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .buttonBan:hover {
    background: var(--cor-fonte-titulos);
    color: var(--branco);
  }

  .errorMsg {
    color: var(--erro);
    margin-top: 10px;
    font-size: 14px;
}

  